.slide-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.slide-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alterado para flex-start */
  height: 100vh;
}

.slide-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Para manter a proporção da imagem */
}