body {
  padding-top: 70px; /* Ajuste conforme a altura do cabeçalho */
}

/* Header styles */
.header {
  position: fixed; /* Define o cabeçalho como fixo */
  top: 0; /* Posiciona o cabeçalho no topo da página */
  left: 0; /* Posiciona o cabeçalho no canto superior esquerdo */
  width: 100%; /* Define a largura do cabeçalho como 100% da largura da janela do navegador */
  background-color: #000000ec;
  padding: 10px 0;
}

/* Estilos de conteúdo */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  margin-left: 20px;
}

.logo {
  max-width: 200px; /* Ajustando a largura máxima da logo para 200px */
  height: auto;
}

/* Contact styles */
.contact-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Exibir os elementos como flexíveis */
  justify-content: space-between; /* Distribuir os elementos igualmente ao longo do contêiner */
}

.contact-form {
  flex: 1; /* Distribuir o espaço disponível igualmente entre as duas divs */
}

.contact-info {
  flex: 1; /* Distribuir o espaço disponível igualmente entre as duas divs */
  margin-left: 100px; /* Adicionando espaço à esquerda da parte de informações */
}

.form-group {
  margin-bottom: 10px; /* Reduzindo o espaçamento entre os grupos de formulário */
}

.form-group label {
  margin-bottom: 3px; /* Reduzindo o espaçamento abaixo das etiquetas */
  font-weight: bold;
  font-size: 14px; /* Reduzindo o tamanho da fonte das etiquetas */
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px; /* Reduzindo o preenchimento dos campos de entrada */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Reduzindo o tamanho da fonte dos campos de entrada */
}

.form-group textarea {
  width: 100%;
  min-height: 100px; /* Altura mínima do campo de mensagem */
  max-height: 200px; /* Altura máxima do campo de mensagem */
  resize: vertical; /* Permitir redimensionamento vertical */
  padding: 8px; /* Reduzindo o preenchimento do campo de mensagem */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Reduzindo o tamanho da fonte do campo de mensagem */
}

button[type="submit"] {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #000000ec;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h2 {
  margin-bottom: 8px; /* Reduzindo o espaçamento abaixo do subtítulo */
  font-size: 18px; /* Reduzindo o tamanho da fonte do subtítulo */
}

.contact-info p {
  margin: 3px 0; /* Reduzindo o espaçamento entre os parágrafos */
  font-size: 14px; /* Reduzindo o tamanho da fonte dos parágrafos */
}

/* Animation styles */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1ms;
}

.form-group-flex {
  display: flex;
  justify-content: space-between;
}

.form-group-flex .form-group {
  flex: 1;
  margin-right: 70px; /* Ajuste o valor conforme necessário */
}

.form-group-flex .form-group:last-child {
  margin-right: 0;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Isso centralizará a caixa verticalmente */
}

.about-box {
  background-color: #f4f4f4; /* Cor de fundo da caixa */
  border: 1px solid #ddd; /* Borda da caixa */
  padding: 20px; /* Espaçamento interno */
  width: 80%; /* Largura da caixa */
  max-width: 600px; /* Largura máxima da caixa */
  text-align: center; /* Centralizar o texto */
}

.menu-item.selected {
  color: yellow;
}

.menu-item:hover {
  text-decoration: underline;
}
