header {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Torna as abas horizontais */
}

nav ul li {
  margin-right: 20px;
  cursor: pointer;
  color: white; /* Cor do texto */
  font-weight: bold; /* Texto em negrito */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

.menu-container {
  display: flex;
  justify-content: flex-end; /* Alinha os itens à direita */
}

.menu-item {
  margin-left: 20px; /* Espaçamento entre os itens */
}

.logo {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin-right: auto; /* Empurra a logo para a esquerda */
}